/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --title-bg-color: #ff8dcb;
  --p-text-color: #353430;
  --corner-color: #353430;
  --title-text-color: #353430;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --hover-button-borders: rgba(53, 52, 48, 0.5);
  --page-title-color: #ffc2e6;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-bg-color: #ff8dcb;
    --p-text-color: #353430;
    --corner-color: #353430;
    --title-text-color: #353430;
    --section-title-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --hover-button-borders: rgba(53, 52, 48, 0.5);
    --page-title-color: #ffc2e6;
    --background-image: url(../images/cover-image-light.png);
  }

  .decorative__word {
    visibility: hidden;
  }

  /* Дублируем переменные светлой темы */
}

.theme-light .page {
  .decorative__word {
    visibility: hidden;
  }
  /* Вам также нужно будет написать ряд подобных селекторов */
}
